@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@1&display=swap');

:root{
    --cor1: rgba(245, 158, 245, 0.342);
    --cor2: rgb(104, 101, 101);
    --cor3: rgb(195, 37, 209);
    --font1: font-family: 'Work Sans', sans-serif;
}
body{
    background-color: var(--cor1);
}

header{
    height: 220px;
    margin: -8px;
    background-image: url(./assets/images/background-pattern-desktop.svg);
}

main{
    margin: auto;
    margin-top: -90px;
}

div#conteúdo{
    width: 600px;
    height: 550px;
    margin: auto;
    border-radius: 15px;
    background-color: white;
}

div#conteúdo > h1{
    margin: 10px;
    padding: 22px;

}

div.paragrafos > p{
    font-family: var(--font1);
}


div.esconder{
    display: none;
    font-size: 15px;
    font-style: italic;
    font-family: var(--font1);
    background-color: white;
}

div.esconder > p.esconderp{
    color: var(--cor2);
}

div.todotexto{
    width: 410px;
    height: 80px;
    margin: auto;
}

div.paragrafos{
    font-size: large;
    cursor: pointer;
}

div.paragrafos:hover{
    color: var(--cor3);
    transition: 0.3s;
}

footer{
    text-align: center;
}

footer > p > a{
    text-decoration: none;
    color: rgb(25, 0, 255);
}

footer > p > a:hover{
    color: var(--cor3);
    transition: 0.3s;
}

@media screen and (max-width: 600px){
    header{
        height: 190px;
        margin: -47px;
        background-image: url(./assets/images/background-pattern-desktop.svg);
    }


    main{
    margin: auto;
    margin-top: -90px;
    }

    div#conteúdo{
    width: 410px;
    height: 550px;
    margin: auto;
    border-radius: 15px;
    background-color: white;
    }

    div#conteúdo > h1{
    margin: 10px;
    padding: 10px;
    font-size: 29px;
    }

    div.paragrafos > p{
        font-size: 15px;
        margin: 10px;
        font-family: var(--font1);
        font-weight: bold;
    }

    div.esconder{
        display: none;
        font-size: 12px;
        font-style: italic;
        font-family: var(--font1);
        background-color: white;
    }
    
    div.esconder > p.esconderp{
        color: var(--cor2);
        margin: 10px;
        font-size: 14px;
    }
    
    div.todotexto{
        width: 410px;
        height: 80px;
        margin: auto;
    }
    
    div.paragrafos{
        font-size: large;
        cursor: pointer;
    }
    
    div.paragrafos:hover{
        color: var(--cor3);
        transition: 0.3s;
    }
}