@charset "UTF-8";



:root{
    --cor1: rgba(245, 158, 245, 0.342);
    --cor2: white;
    --cor3: rgb(195, 37, 209);
}
body{
    background-color: var(--cor1);
}

header{
    height: 220px;
    margin: -8px;
    background-image: url(./assets/images/background-pattern-desktop.svg);
}

main{
    margin: auto;
    margin-top: -90px;
    width: 800px;
    height: 560px;
}
